* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header,
hero-section-1,
footer {
  background-color: #1f2937;
}

.hero-secondary-text,
.header-link-text {
  font-size: 18px;
  color: #e5e7eb;
}
